@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
}

html,
body,
#root {
  height: 100%;
}